openapi: 3.1.0
info:
  title: iECURE Media API
  version: wp/v2
  description: 'The media library backing the site - 226 attachments at harvest time, including the corporate
    logo, pipeline artwork and leadership headshots.


    Derived by API Evangelist from the live WordPress REST route index published at https://iecure.com/wp-json/
    and from anonymous responses observed on 2026-08-22. iECURE is a clinical-stage genetic-medicines
    company and runs no developer program; this is the content API its own website is built on, not a
    product API. Only routes that returned 200 without credentials are described here - administrative
    and plugin routes that answered 401 are deliberately excluded.'
  contact:
    name: iECURE
    url: https://iecure.com/contact/
    email: info@iecure.com
  x-source: https://iecure.com/wp-json/
  x-harvested: '2026-08-22'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://iecure.com/wp-json
  description: iECURE WordPress REST API
tags:
- name: media
  description: The media library backing the site - 226 attachments at harvest time, including the corporate
    logo, pipeline artwork and leadership headshots.
paths:
  /wp/v2/media:
    get:
      operationId: listMedia
      summary: listMedia
      description: GET https://iecure.com/wp-json/wp/v2/media - observed anonymously reachable on 2026-08-22.
      tags:
      - media
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: rest_invalid_param - a query parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: rest_no_route or rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: inherit
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
        description: Limit result set to posts assigned one or more statuses.
      - name: media_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
        description: Limit result set to attachments of a particular media type or media types.
      - name: mime_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to attachments of a particular MIME type or MIME types.
  /wp/v2/media/{id}:
    get:
      operationId: getMediaItem
      summary: getMediaItem
      description: GET https://iecure.com/wp-json/wp/v2/media/{id} - observed anonymously reachable on
        2026-08-22.
      tags:
      - media
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: rest_invalid_param - a query parameter failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: rest_no_route or rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: id
        in: path
        required: true
        description: Identifier of the requested id.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
components:
  schemas:
    ErrorResponse:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem details.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code - the stable discriminator.
        message:
          type: string
          description: Human-readable message, localized to the site language.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              description: Per-parameter messages. Present only on rest_invalid_param.
            details:
              type: object
              description: Per-parameter structured detail with a nested code.
